<h2>Todos</h2>
<form action="/todos" method="get">
  <input type="string" name="task" >
  <button>Search</button>
</form>

<%= render @todos %>

<form action="/todos" method="get">
  Search: <input type="text" name="task" autofocus>
  <button>Go</button>
</form>
